.items {
    display: grid;
    grid-gap: 1.5%;
    grid-auto-flow: row;
    width: 100%;
    justify-items: center;
    align-items: center;
}


@media screen and (max-width: 1015px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
 }


@media screen and (max-width: 666px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
 }

@media screen and (max-width: 400px) {
    .items {
        grid-template-columns: 1fr;
    }
 }
