.it {
    background-color: rgba(225, 243, 227, 0.2);
    border-style: solid;
    border-color: rgb(39, 24, 53);
    margin-bottom: 2rem;
}

.imagen {
    height: 50%;
    width: 70%;
    max-width: 70%;
    max-height: 70%;
}