.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "i c d"
    "ia c da";
    justify-content: center;
    align-items: center;
    height: 100%;
}