.ContactContainer {
    background-color: rgba(68, 212, 152, 0.1);
    width: 85vw;
    margin: 0 auto;
    border-style:groove;
    border-radius: 2px;
    border-color: rgb(177, 29, 29);
}

.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.LabelContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 14px;
}

.InputContact {
    border-style: none;
    border-bottom: 2px solid #8C30F5;
    width: 80vw;
    height: 20px;
    margin-top: 10px;
    padding: 8px 5px;
    background: rgba(236, 111, 236, 0.1);
    outline: none;
}

.Button {
    width: 25vw;
    margin: 1rem;
}

.Submit {
    background-color: rgb(39, 25, 66);
    border-color: rgb(219, 9, 9);
    width: 23vw;
    height: 20px;
    margin: 1rem 0px 1rem 0px;
}

input, select, textarea{
    color: #7ea2c0;
    font-weight: bold;
}

